<div class="page-box">

  <header class="header header-three">
    <div class="header-wrapper">
      <div class="container">
        <div class="row">
          <div class="logo-box col-sm-12 col-md-12">
            <div class="logo">
              <a href="/">
                <%= image_tag "logo.png", alt: "Людмила Савина" %>
              </a>
            </div>
          </div>
        </div><!--.row -->
      </div>
    </div><!-- .header-wrapper -->
  </header><!-- .header -->

  <section id="main">
    <div class="container">
      <div class="row">
        <div class="count-down-box col-sm-12 col-md-8">
          <div id="count-down"></div>
        </div>

        <div class="coming-text col-sm-12 col-md-4">
          <p>В данный момент мы готовим к запуску новую версию сайта и мобильное приложения о нумерологии.
            Дата запуска &mdash; 1 марта.</p>
        </div>
      </div>
    </div><!-- .container -->
  </section><!-- #main -->

</div><!-- .page-box -->

<footer id="footer" class="footer-two">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="social col-sm-12 col-md-12">
          <p>Следите за обновлениями в социальных сетях</p>
          <a class="sbtnf sbtnf-rounded color color-hover icon-facebook" href="https://www.facebook.com/profile.php?id=1341190149"></a>
          <a class="sbtnf sbtnf-rounded color color-hover icon-youtube" href="https://www.youtube.com/channel/UC6-WcbPzTx78TcaZYV-APgQ"></a>
        </div>
      </div>
    </div>
  </div><!-- .footer-top -->
</footer>